.imgslogo{
    width: 420px;
}
.modas{
    height: 250px;
    width: 100px;
}

  .carousel-control-prev,
  .carousel-control-next {
    background: transparent; /* Establecer el fondo como transparente */
    border: none; /* Eliminar el borde */
    color: #000; /* Cambiar el color del icono si lo deseas */
    font-size: 24px; /* Tamaño del icono si lo deseas */
  }